
body{
    background-image: url(Bilder/Amsterdam4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw ;
    min-height: 100vh;
}

.h1{
    text-decoration: underline black;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(11, 172, 11, 0.538);
    font-family: 'Pangolin', cursive;
    margin-top:60px ;}

.geschichte1 {
    width: 1200px;
    height: 300px;
    margin-top: 60px;
    margin-left: 130px;
    border: 2px solid black;
    
}
.div1{
    
    width: 600px;
    height: 200px;
    margin-bottom: 100px;
    
}
h4{
    text-decoration: underline black;
    font-family: 'Pangolin', cursive;

}
.div2{
    border: 2px solid black; 
    background-color: rgba(14, 162, 14, 0.751);
    width: 1200px;
    height: 1800px;
    text-decoration:whitesmoke ;
    margin-top: 150px;
    float: left;
    margin-left: 130px;
}